include ./../mixins/_line
include ./../mixins/_list
include ./../mixins/_price

section.menu
    .container
        h2.content__title DELICIOUS MENU
        +line
        h4.content__subtitle
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
        +list('soup', 'pizza','pasta', 'desert', 'wine','beer', 'drinks')
        .wrap__block-content
            .block-price
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
            .block-price
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
            .block-price
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')
                +price('PIZZA QUATRO STAGIONI . . . .', '55,68 USD', 'Integer ullamcorper neque eu purus euismod')    
