include ./../mixins/_rigthsquare
include ./../mixins/_leftsquare

section.privat
    .container
        h2.header__subtitle OUR TEAM
        .wrap__block-content
            +rigth_imgsquare('./img/rectangle.jpg')
            +left_imgsquare('./img/clock.jpg')