include ./../mixins/_leftsquare
include ./../mixins/_form


section.register
    .container
        .wrap__block-content.register-content
            +form('BOOK NOW')
            +left_imgsquare('./img/clock.jpg')
        p.register-work Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
