include ./../mixins/_rigthsquare
include ./../mixins/_content
include ./../mixins/_circle

section.specshion
    .container
        h2.header__subtitle  specialties
        .wrap__block-content
            +rigth_imgsquare('./img/rectangle2.jpg')
            +content('chocolate pancakes', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.', 'Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.')
        +cicrcle