.mastercheff{
    background-color: #000;
    background-image: url('../../img/specialty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}