
 @font-face {
    font-family: Banny;
    src: local(Banny), url(../fonts/Banny-BoldRound.otf), url(../fonts/Banny-LightRound.otf), url(../fonts/Banny-Round.otf);
}

*{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    list-style: none;
}
