.privat{
    background-color: #000;
    background-image: url('./../img/specialty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .leftsquare{
        &::before{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20%;
            height: 100%;
            background-color: rgb(15, 15, 15);
            content: '';
        }
    }
    .rigthsquare{
        &::before{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 20%;
            height: 100%;
            background-color: rgb(15, 15, 15);
            content: '';
        }
    }
}

.privat__left,
.privat__right{
    position: relative;
}
.privat__button,
.privat__top{
    font-size: 24px;
    position: absolute;
    color: rgba(255, 255, 255, 0.952);
}
.privat__top{
    margin: 0px 15px;
    top: 70px;
    right: -30px;
    transform: rotate(90deg);
}
.privat__button{
    margin: 135px -55px;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
}