.register{
    text-align: center;
}
.block-form{
    display: flex;
    justify-content: start;
}
.form__item{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    &:last-child{
        margin-right: 0;
    }
    .select,
    input{
        width: 276px;
        height: 60px;
        border: none;
        margin-bottom: 10px;
        background-color: rgba(17, 17, 17, .2);
        color: rgba(51, 51, 51, .7);
        border-radius: 5px;
        padding-left: 7px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.btnform{
    border:none;
    background-color: #E8C300;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    &:hover{
        background-color: rgba(232, 195, 0, .8);
    }
}
.register-content{
    margin-bottom: 50px;
}
.register-work{
    color: rgba(51, 51, 51, .5);
}