extends ./../layouts/main.pug

block variables
    - const title = "Restaurant Hungry People";

block content
    include ../sections/_header.pug
    include ../sections/_aboutus.pug
    include ../sections/_mastercheff.pug
    include ../sections/_register.pug

